{%- macro modal(id, title='', size='lg') -%}
<div class="modal fade" id="{{ id }}" tabindex="-1" role="dialog" aria-labelledby="{{ id }}Label" aria-hidden="true">
  <div class="modal-dialog modal-{{ size }}" role="document">
    <div class="modal-content glass-modal">
      <div class="modal-header glass-modal-header">
        {% if title %}
        <h4 class="modal-title text-gradient" id="{{ id }}Label">{{ title }}</h4>
        {% endif %}
        <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
          <span aria-hidden="true" class="modal-close-icon">&times;</span>
        </button>
      </div>
      <div class="modal-body glass-modal-body">
        {{ caller() }}
      </div>
    </div>
  </div>
</div>
{%- endmacro -%}
